# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/pf4j/pf4j-app/target/
/pf4j/pf4j-api/target/
/pf4j/plugins/plugin1/target/
/pf4j/plugins/plugin2/target/
/.idea/
/kafka/kafka-consumer/target/
/kafka/kafka-provider/target/
/flink/target/
/dubbo/dubbo-api/target/
/dubbo/dubbo-consumer/target/
/dubbo/dubbo-provider/target/
/flink/flink-networkflow-olap/
/flink/flink-olap/
/sharding-jdbc/target/
/spring-security/target/
/sample-shiro/target/
/customize-shiro-starter/target/
/fast-spring-boot-service/target/
/sample-shiro/target/
/spring-security/target/
/sample-shiro/target/
/customize-shiro-starter/target/
email/target/
file-manage/target/
flink/flink-cdc/target/
h2/target/
logs/
mp/target/
mq/target/
rocketapi/target/
spring-actuator/target/
swagger-starter/target/
